.userProfile {
  padding: 20px;
  background: var(--gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 40px;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  color: var(--gray-light);

  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  & > div {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  span {
    font-size: 18px;
    color: var(--gray-light);
  }
}

.btns {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
